.messages{
    padding-top: 15px;
}
.messages:last-child{
    padding-bottom: 15px;
}

.message{
    font-size: 18px;
    padding: 10px;
    color: black;
    background-color: white;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

/*.message:nth-child(odd){*/
/*    float: right;*/
/*}*/